.bootbox  div.modal-header{
    display: block !important;
}

.btn-group button {
    margin: 10px 5px;
}

.card-body select{
    height: 38px !important;
}

.card-footer select{
    height: 38px !important;
}

.card-body input{
    height: 38px !important;
}
