body {
    color: #f3f3f3;
    background: #359AFF88 !important;
    font-family: sans-serif;
}

a{
    color: #359AFF88;
}

a:hover {
    color: #359AFFFF;
    text-decoration: none;
}

.form-control {
    min-height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
}

.form-control:focus {
    background: #e2e2e2;
}

.form-control, .btn {
    border-radius: 2px;
}

.login-form {
    width: 350px;
    margin: 12% auto;
    text-align: center;
}

.login-form h2 {
    margin: 10px 0 25px;
}

.login-form > .form {
    color: #7a7a7a;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f9f9f9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
    outline: none !important;
}

.login-form .btn:hover, .login-form .btn:focus {
    background: #2389cd;
}

.man-dordad {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #797979;
    font-weight: bold;
    margin: 18px auto 0 auto;
    direction: rtl;
}

.man-heart{
    font-size: 10px;
    color: #E90606;
}